.block-1 {
    display: inline-block;
    width: 300px;
    height: 150px;
    background: rgb(68, 68, 183);
    color: #ffffff;
    text-align: center;
    border: 2px solid #000;
    z-index: 3;
}

.content {
    display: inline;
}